# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.cursor/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

AddressBook-v22.db
AddressBook-v22.db-shm
AddressBook-v22.db-wal
AddressBook-v22.abcddb
AddressBook-v22.abcddb-journal
AddressBook-v22.abcddb-wal
AddressBook-v22.abcddb-wal